/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
  justify-content: center;
  display: flex;
}

main{
  max-width: 720px;
margin: auto;

}

/*section*/
section{
  width: 100%;
  padding: 20px 0;

}
.flex{

  display: flex;
}
.center{
  align-items: center;
  justify-content: center;
}
.between{
  justify-content: space-between;
}

hr{
  margin-bottom: 20px;
}

/* Containers */
#portfolio p{
  font-size: 14px;
}

.item{
  width: 200px;
  margin: 0 10px;
}

/* article div {
  text-align: center;
  width: 100%;
} */

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}
nav{
  display: flex;
  align-items: center;
}
nav a {
  padding-left: 20px;
  ;
  
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
